                <div class="row" >
                    <div class="col-md-6">

                        <%= partial partials_desktop_home_attendees_meetingAgenda + "/_home-attendees-meetingAgenda-container-mainContent-agenda-timeline" %>

                    </div>
                    <div class="col-md-6">
                        
                         <%= partial partials_desktop_home_attendees_meetingAgenda + "/_home-attendees-meetingAgenda-container-mainContent-agenda-slides" %>


                         <%= partial partials_desktop_home_attendees_meetingAgenda + "/_home-attendees-meetingAgenda-container-mainContent-agenda-askAndVote" %>

                    </div>
                </div>


                <div class="row" style="display:none">
                	<div class="col-md-12">

						<%= partial partials_desktop_home_attendees_meetingAgenda + "/_home-attendees-meetingAgenda-container-mainContent-agenda-slides" %>

                	</div>

                	<div class="col-md-6">
                		<%= partial partials_desktop_home_attendees_meetingAgenda + "/_home-attendees-meetingAgenda-container-mainContent-agenda-timeline" %>
					</div>

					<div class="col-md-6">

                		<%= partial partials_desktop_home_attendees_meetingAgenda + "/_home-attendees-meetingAgenda-container-mainContent-agenda-askAndVote" %>

                	</div>
                </div>


