


                <!-- BEGIN Main Content -->
                <div class="row">
                	<div class="col-md-12">
                		<div class="box">
                			<div class="box-title">
                				<h3><i class="fa fa-table"></i> Ask the speaker</h3>
                				<div class="box-tool">
                					<a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                					<!-- <a data-action="close" href="#"><i class="fa fa-times"></i></a> -->
                				</div>
                			</div>
                			<div class="box-content">
                            
                            <!-- <br/> -->

                            <div class="alert alert-info">
                                <div class="form-group">
                                    <!-- <label class="col-sm-3 col-lg-2 control-label">Input with button</label> -->
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <div class="input-group">
                                            <input type="text" placeholder="Ask the speaker..." class="form-control" id="txtAskTheSpeaker">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button" id="btnAskTheSpeaker">SEND!</button>
                                            </span>
                                        </div>
                                        <!-- <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Send Anonymously
                                            </label>
                                        </div> -->
                                    </div>
                                </div>
                                <p>
                                    <br/><br/>
                                    &nbsp; &nbsp;&nbsp; <input type="checkbox"> Send Anonymously
                                </p>
                            </div>



            <div class="row">


                <div class="col-md-12">

                    <div class="tabbable">
                        <ul id="myTab1" class="nav nav-tabs">
                            <li class="active"><a href="#home1" data-toggle="tab"><i class="fa fa-comment-o"></i> Ask</a></li>
                            <li><a href="#profile1" data-toggle="tab"><i class="fa fa-question-circle"></i> Vote</a></li>
                        </ul>

                        <div id="myTabContent1" class="tab-content">
                            <div class="tab-pane fade in active" id="home1">
                                <div class="table-responsive" style="border:0">
                                    <table class="table table-advance" id="AskDataTable">
                                        <thead>
                                            <%= partial partials_desktop_home_attendees_meetingAgenda + "/DataTable/_home-attendees-meetingAgenda-container-mainContent-agenda-dataTableAsk-THead" %>
                                        </thead>
                                        <tbody>
                                           
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile1">
                            
                                <div class="table-responsive" style="border:0">
                                    <table class="table table-advance" id="table2">
                                        <thead>
                                            <tr>
                                            <th style="width:18px">No.</th>
                                                <th>Name</th>
                                                <th>Browser</th>
                                                <th>Platform(s)</th>
                                                <th class="text-center">Engine</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%= partial partials_desktop_home_attendees_meetingAgenda + "/DataTable/_home-attendees-meetingAgenda-container-mainContent-agenda-dataTableVote-TBody" %>

                                            <%= partial partials_desktop_home_attendees_meetingAgenda + "/DataTable/_home-attendees-meetingAgenda-container-mainContent-agenda-dataTableVote-TBody" %>

                                            <%= partial partials_desktop_home_attendees_meetingAgenda + "/DataTable/_home-attendees-meetingAgenda-container-mainContent-agenda-dataTableVote-TBody" %>

                                            <%= partial partials_desktop_home_attendees_meetingAgenda + "/DataTable/_home-attendees-meetingAgenda-container-mainContent-agenda-dataTableVote-TBody" %>

                                            <%= partial partials_desktop_home_attendees_meetingAgenda + "/DataTable/_home-attendees-meetingAgenda-container-mainContent-agenda-dataTableVote-TBody" %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

                				

                			</div>
                		</div>
                	</div>
                </div>
                <!-- END Main Content -->